.galleries-hld {
  width: calc(100% - 250px - 50px);
  padding: 25px;
  border-radius: 4px;
  background: rgba($c-black, .6);
}

.gallery {
 margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.gallery__title {
  margin: 0;
  color: $c-white;
  font-size: 28px;
  line-height: 1.2;
}

.gallery__image-hld {
  display: flex;
  position: relative;
  margin: 0;
  height: 227px;
  border-radius: 4px;
  overflow-x: auto;
}

.gallery__image {
  width: 25%;
  object-fit: cover;
}