$c-accent: #FF0084;
$c-accent-sec: #0063DC;

$c-gray: #333333;
$c-content: $c-gray;
$c-succes: #43B05C;
$c-black: #000;
$c-white: #FFF;

$deleteIcon: '../assets/svg/delete.svg';
$submitIcon: '../assets/svg/plus.svg';
